.loader-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.loader-subcontainer{
    width: 60px
}

.loader-text{
    color: rgb(178 178 178);
    font-size: 12px;
}